.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}
  
.modal--show {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal__card {
    border-radius: 0.5vh;
    overflow: hidden;
    background-color: var(--white);
    max-width: 600px;
    min-width: 50%;
    padding: 1.5rem;
    background-color: var(--main-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
  
.modal__movie-backdrop {
    width: min(300px, 50vw);
    border-radius: 0.5vh;
}

.modal__movie-title {
    align-self: center;
}

.modal__movie-overview { font-size: 1em; }
 
.modal__movie-info { list-style-type: none; }

.modal__movie-info b { letter-spacing: 0.1rem; }

.modal__movie-info li { padding: 0.3rem 0 0.3rem 0; }
  
.modal__button-close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
    align-self: self-end;
    text-align: center;
    background-color: transparent;
    color: var(--white);
    border: var(--white) 1px solid;
    border-radius: 0.5vh; 
    transition: transform .1s ease-in-out;
}

.modal__button-close:hover { color: var(--gold); }

.modal__button-close:active { transform: scale(.95); }
  
.modal__movie-site { color: var(--gold) }
  
.stop-scrolling { overflow: hidden; }