.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-bottom: 2rem;
}
  
.pagination__list {
    list-style-type: none;
    user-select: none;
}
  
.pagination__button {
  display: inline-block;
  background-color: transparent;  
  text-align: center;
  width: 2rem;
  height: 2.5rem;
  border-radius: .5vh;
  border: 1px solid var(--white);
  text-align: center;
  color: var(--white);
  margin: .5rem;
  cursor: pointer;
  transition: transform .15s ease-in-out;
}

.pagination__button:hover { color: var(--gold); }

.pagination__button:active { transform: scale(.95); }

.pagination__item {
    display: inline-block;  
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5vh;
    border: 1px solid var(--white);
    text-align: center;
    font-weight: bold;
    color: var(--white);
    padding: .45rem;
    margin: .5rem;
    cursor: pointer;
    transition: transform .15s ease-in-out;
}

.pagination__item:hover { color: var(--gold); }

.pagination__item--active {
  transform: scale(.95);
  color: var(--gold);
}