:root {
    --main-color: #1a191f;
    --gold: #ffd80e;
    --white: #f3eaea;
    --black: #000000;
    --grey: grey;
    --green: green;
    --orange: orange;
    --red: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Golos Text", sans-serif;
}

body { background-color: var(--main-color); }

p { margin-top: 0.5rem; }